<div class="page-sidebar pagescroll">
    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">
        
        <!-- USER INFO - START -->
        <div class="profile-details">
            <h3>
                <a href="/admin" class="name">Admin Panel</a>
                <span class="profile-status online"></span>
            </h3>
        </div>
        <!-- USER INFO - END -->

        <!-- MENU LIST -->
        <ul class="wraplist">
            <!-- Dashboard -->
            <li class="open">
                <a href="/admin">
                    <i class="fa fa-dashboard"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <!-- Category Menu -->
            <li>
                <a href="javascript:;">
                    <i class="fa fa-folder-open"></i>
                    <span class="title">Category</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/admin/category/danh-sach.html">List</a></li>
                    <li><a href="/admin/category/them.html">Add New</a></li>
                </ul>
            </li>

            <!-- Product Menu -->
            <li>
                <a href="javascript:;">
                    <i class="fa fa-cube"></i>
                    <span class="title">Product</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/admin/product/danh-sach.html">List</a></li>
                    <li><a href="/admin/product/them.html">Add New</a></li>
                </ul>
            </li>

            <!-- Order Menu -->
            <li>
                <a href="javascript:;">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="title">Order</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/admin/order/danh-sach.html">List</a></li>
                </ul>
            </li>

            <!-- User Menu -->
            <li>
                <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    <span class="title">User</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/admin/user/danh-sach.html">List</a></li>
                </ul>
            </li>

        </ul>
    </div>
    <!-- MAIN MENU - END -->
</div>
